header {
  width: 100%;
  height: 100px;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 24px 24px;
}

header a {
  color: #fff;
  font-size: 22px;
  transition: 1s;
  text-decoration: none;
}

header a:hover {
  transition: 1s;
  color: rgb(253, 9, 245);
}

header a + a {
  margin-left: 10px;
}

.title {
  color: rgb(253, 9, 245);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
